<html>
  <head>
  <% include ./head.ejs %> 
  </head>


  <body>
  <% include ./header.ejs %> 

    <div class="container">
        <p>Welcolme to our poll page!. You can create multiple polls, and so, you're Welcome!. Click the "Star Button" to start making polls</p>
        <a id="signup" href="/signup" class="button btn btn-primary">Sign Up</a>
        <a href="/profile" action="get" class="button btn btn-primary">Profile (only for users)</a>
    </div>

    <footer>
      <% include ./footer.ejs %> 
    </footer>

   <script type="text/javascript" src="common/ajax-functions.js"></script>
    <script type="text/javascript" src="controllers/pollController.client.js"></script>
    <script type="text/javascript" src="controllers/userController.client.js"></script>

  </body>
  </html>
