
<html>
  <head>
<% include ./head.ejs %>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <body>

<% include ./header.ejs %>
    <div class="container">
        <h2 id="polltitle"><%= pollname %></h2>
        <div class='pollcontainer2'></div>
        <div class="campo"></div>

<div >

  <div id="chart_div"></div>
		</div>

    </div>

    <footer>
      <% include ./footer.ejs %> 
    </footer>
    
    <script type="text/javascript" src="/common/ajax-functions.js"></script>
    <script type="text/javascript" src="/controllers/pollController.client.js"></script>
    <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);

    function drawBasic() {

        var asdasd = window.location.href.toString();
        var urlparam = asdasd.split('/');
        var pollName = urlparam[urlparam.length-1];
        var apiUrl = appUrl + '/api/polls2/';
        var results = [['Option', 'Name']];

        function getData(data) {
            var aux = JSON.parse(data);
            var auxStr = '';
            for(var i=0; i<aux[0].hola.length; i++){
                var aux1 = aux[0].hola[i].name
                var aux2 = aux[0].hola[i].votes;
                results.push([aux1, aux2]);    
            }

          var data = google.visualization.arrayToDataTable(results);
          var options = {
            title: 'Results',
            vAxis: {title: 'Options'},
            chartArea: {width: '50%'}
          };
          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
          chart.draw(data, options);

        }

       ajaxFunctions.ready(ajaxFunctions.ajaxRequest('GET', apiUrl+pollName, getData));

    }
    </script>

  </body>
  </html>
